*{
    padding: 0;
    margin: 0;
}

.banner{
    padding: 2%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.mainContainer{
    display: flex;
    justify-content: space-between;
}

.splashContainer{
    width: fit-content;
    background: #36454F;
    color: #fff;
    /* margin: 10px auto 0; */
    border-radius: 20px 0px;
    padding: 40px 171px;
    text-align: center;
    margin-bottom: 20px;
    
}

.weatherContainer{

}


/* css code for weather  */


.main-container{
    width: fit-content;
    background: #36454F;
    color: #fff;
    /* margin: 10px auto 0; */
    border-radius: 20px 0px;
    padding: 40px 171px;
    text-align: center;
    margin-bottom: 20px;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 90%;
    max-width: 470px;
}

.search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    border-radius: 30px;
    padding: 10px 25px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 90px;
    height: 50px;
    cursor: pointer;
}

.search button img{
    width: 20px;
}

.weather-icon{
    width: 170px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

/* CSS to display error message */
.error{
   text-align: center;
   margin-left: 10px; 
   font-size: 19px;
   font-weight: bolder;
   margin-top: 10px;
   display: none;
   color: rgb(241, 64, 64);
}


.temperature{
    margin-top: 20px;
}


.head{
    text-align: center;
    color: rgb(255, 255, 255);
    border: none;
    padding: 4px;
    background-color: hsla(172, 49%, 63%, 0.842);
    font-size: 25px;
    font-weight: bolder;
}

#icon{
    font-size: 25px;
    margin-right: 5px;
}