*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url();
}

/* css for banner */
.banner{
    padding: 2%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

#name{
    padding: 2%;
    background-color: red;
    border-radius: 5%;
    box-shadow: 2%;
}


img {
    position:static;
    top: 0;
    left: 0;
    width: 900px;
    height: 500px;
    object-fit: cover;
}
